name: Comment
on: 
  pull_request:
    types: [opened]
jobs:
  comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - run: gh pr comment "${GITHUB_HEAD_REF}" --body "PR がオープンされた！"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
